<ion-view id="userMessagesView" align-title="center">

  <ion-nav-bar class="bar-stable" align-title="center">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-nav-title>{{enemyID.name}}</ion-nav-title>
    <ion-nav-buttons side="right" ng-click="olakase()">
          <button class="button button-icon button-clear" >
            <img src="img/profile.jpg" width="35px" height="35px"/>
          </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer"
        delegate-handle="userMessageScroll" ng-click="closeKeyboard()">
        <div ng-repeat="message in messages" class="message-wrapper"
            on-hold="onMessageHold($event, $index, message.message)">
            <div ng-if="message.userid != userID">
              <div class="chat-bubble left">
                  <div class="message" ng-bind-html="message.message">
                  </div>
                  <p>{{message.datehourmin}}</p>
              </div>
            </div>
            <div ng-if="message.userid == userID">
              <div class="chat-bubble right">
                  <div class="message" ng-bind-html="message.message">
                  </div>
                  <p>{{message.datehourmin}}</p>
              </div>
            </div>
            <div class="cf"></div>
        </div>
      </ion-content>

    {{checkNewMessage()}}
    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="inputmessage" value="" placeholder="Send a message..." required minlength="1" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
              <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                  ng-disabled="!inputmessage || inputmessage === ''">
              </button>
            </div>
        </ion-footer-bar>
    </form>


</ion-view>
