<ion-view class="modal" align-title="center">
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-clear ion-arrow-left-c" ng-click="backToProducts()"></button>
    </div>
    <h4 class="title">Crear producto</h4>
    <div class="buttons">
      <button class="button button-clear ion-map"></button>
    </div>
  </ion-header-bar>

  <!-- <div class="postBoton">
    <button class="botonSearch" ng-click="postProduct()">Subir producto</button>
  </div> -->

  <ion-content overflow-scroll="false">

    <div class="fotoList">
    <!-- <ion-scroll direction="x" has-bouncing="false" scrollbar-x="false"> -->

      <div class="fotosFetes">
        <img class="botonFoto" ng-repeat="image in images" ng-click="deletePhoto()" ng-src="data:image/jpeg;base64,{{image}}" width="75px" height="75px"/>
      </div>
      <div class="fotosAltres">
        <button ng-if="nomorephotos" class="botonFoto" width="75px" height="75px">
          <i class="ion-sad"></i>
          <h5>Lleno</h5>
        </button>

        <video ng-show="videoData.length>0" ng-src="{{videoData[0].fullPath}}" id="video" class="centerme" controls="controls" width="100" height="100"></video>
        <!-- <input type="file"> -->
        <button ng-if="!nomorephotos" class="botonFoto" ng-click="addMedia()" width="75px" height="75px">
          <i class="ion-ios-camera-outline"></i>
          <h5>Añadir foto</h5>
        </button>
      </div>

    <!-- </ion-scroll> -->
    </div>
    <p>{{videobase64}}</p>
    <form name="formslide2" ng-submit="postProduct()">
    <label class="item item-input">
      <input type="text" ng-model="product.name" placeholder="Título del producto">
    </label>
    <label class="item item-input">
      <input type="text" ng-model="product.description" placeholder="Descripción del producto">
    </label>
    <label class="item item-input">
      <input type="number" ng-model="product.price" placeholder="Precio">
    </label>

    <div class="fila2">
      <div class="titulin">
        Sexo
      </div>
      <div class="slideCat">
        <ion-slides slider="swiper" options="swiperOptions">
          <ion-slide-page class="slideMini" ng-repeat="sexo in sexos">
            <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index),'desactivat':!isItemSelectedProduct($index)}" ng-click="activaCaracProduct($index)">
                <img src="img/myIcons/{{sexo.icon}}">
                <p>
                  {{sexo.nom}}
                </p>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>
    </div>
    <div class="fila2" ng-if="isItemSelectedProduct(0) || isItemSelectedProduct(1)">
      <div class="titulin">
        Edad
      </div>
      <div class="slideCat">
        <ion-slides slider="swiper" options="swiperOptions">
          <ion-slide-page class="slideMini" ng-repeat="edad in edades">
            <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+100),'desactivat':!isItemSelectedProduct($index+100)}" ng-click="activaCaracProduct($index+100)">
                <img src="img/myIcons/{{edad.icon}}">
                <p>
                  {{edad.nom}}
                </p>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>
    </div>
    <div class="fila2" ng-if="isItemSelectedProduct(2)">
      <div class="titulin">
        Meses
      </div>
      <div class="slideCat">
        <ion-slides slider="swiper" options="swiperOptions">
          <ion-slide-page class="slideMini" ng-repeat="mes in meses">
            <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+200),'desactivat':!isItemSelectedProduct($index+200)}" ng-click="activaCaracProduct($index+200)">
                <img src="img/myIcons/{{mes.icon}}">
                <p>
                  {{mes.nom}}
                </p>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>
    </div>
    <div class="fila2">
      <div class="titulin">
        Articulo
      </div>
      <div class="slideCat">
      <ion-slides slider="swiper" options="swiperOptions">
        <ion-slide-page class="slideMini" ng-repeat="ropa in ropas">
          <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+300),'desactivat':!isItemSelectedProduct($index+300)}" ng-click="activaCaracProduct($index+300)">
              <img src="img/myIcons/{{ropa.icon}}">
              <p>
                {{ropa.nom}}
              </p>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
  </div>
  <div class="fila2" ng-if="isItemSelectedProduct(300)">
    <div class="titulin">
      Ropa
    </div>
    <div class="slideCat">
    <ion-slides slider="swiper" options="swiperOptions">
      <ion-slide-page class="slideMini" ng-repeat="ropa in ropitas">
        <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+400),'desactivat':!isItemSelectedProduct($index+400)}" ng-click="activaCaracProduct($index+400)">
            <img src="img/myIcons/{{ropa.icon}}">
            <p>
              {{ropa.nom}}
            </p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </div>
</div>
<div class="fila2" ng-if="isItemSelectedProduct(301)">
  <div class="titulin">
    Calzado
  </div>
  <div class="slideCat">
  <ion-slides slider="swiper" options="swiperOptions">
    <ion-slide-page class="slideMini" ng-repeat="calzado in calzados">
      <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+500),'desactivat':!isItemSelectedProduct($index+500)}" ng-click="activaCaracProduct($index+500)">
          <img src="img/myIcons/{{calzado.icon}}">
          <p>
            {{calzado.nom}}
          </p>
      </div>
    </ion-slide-page>
  </ion-slides>
</div>
</div>
<div class="fila2" ng-if="isItemSelectedProduct(302)">
  <div class="titulin">
    Complemento
  </div>
  <div class="slideCat">
  <ion-slides slider="swiper" options="swiperOptions">
    <ion-slide-page class="slideMini" ng-repeat="complemeto in complementos">
      <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+600),'desactivat':!isItemSelectedProduct($index+600)}" ng-click="activaCaracProduct($index+600)">
          <img src="img/myIcons/{{complemeto.icon}}">
          <p>
            {{complemeto.nom}}
          </p>
      </div>
    </ion-slide-page>
  </ion-slides>
</div>
</div>
  <div class="fila2">
    <div class="titulin">
      Temporada
    </div>
    <div class="slideCat">
    <ion-slides slider="swiper" options="swiperOptions">
      <ion-slide-page class="slideMini" ng-repeat="temporada in temporadas">
        <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+700),'desactivat':!isItemSelectedProduct($index+700)}" ng-click="activaCaracProduct($index+700)">
            <img src="img/myIcons/{{temporada.icon}}">
            <p>
              {{temporada.nom}}
            </p>
        </div>
      </ion-slide-page>
    </ion-slides>
    </div>
  </div>
  <div class="fila2">
    <div class="titulin">
      Estado
    </div>
    <div class="slideCat">
    <ion-slides slider="swiper" options="swiperOptions">
      <ion-slide-page class="slideMini" ng-repeat="estado in estados">
        <div class="opcio" ng-class="{'activat':isItemSelectedProduct($index+800),'desactivat':!isItemSelectedProduct($index+800)}" ng-click="activaCaracProduct($index+800)">
            <img src="img/myIcons/{{estado.icon}}">
            <p>
              {{estado.nom}}
            </p>
        </div>
      </ion-slide-page>
    </ion-slides>
    </div>
  </div>

  <div class="wrapperboton">
    <button class="miboton" ng-class="{'tagvisible':canUpdate()}" ng-disabled="!canUpdate()" type="submit">Subir producto</button>
  </div>
</form>
  </ion-content>
</ion-view>
