<ion-view <div class="modal" view-title="Edit profile" align-title="center">
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-clear ion-close-round" ng-click="closeEditProfile()"></button>
    </div>
    <h4 class="title">Edit profile</h4>
    <div class="buttons">
      <button class="button button-clear">Save</button>
    </div>
  </ion-header-bar>

  <ion-content>

  </ion-content>
</ion-view>
