<ion-view>
<ion-content overflow-scroll='false'>
<div class="loginHeader">
  <div class="title">
    <h2>Kidsify</h2>
  </div>
  <div class="slogan">
    <h4>Compra y vende artículos para tus niños de manera inteligente</h4>
  </div>

</div>

<div class="loginInputs">
  <div class="loginInput">
    <span class="ion-android-mail"></span>
    <input class="username" type="text" placeholder="Email" ng-model="data.email">
  </div>
  <div class="loginInput">
    <span class="ion-locked"></span>
  <input class="username" type="password" placeholder="Contraseña" ng-model="data.password">
</div>
</div>

<div class="btnsociallogin btnfacebook" ng-click="login()">
  <div class="imgsocialuser"><img src="img/logofacebook.png"></img></div>
  <div class="labelsocialuser"><h4>usa tu cuenta de facebook</h4></div>
</div>

<div class="loginBotones">
  <button class="loginBoton" ng-click="loginEmail()">Acceder</button>
  <p class="registrate">
    Todavía no tienes cuenta ? <a ui-sref="register">Regístrate</a>
  </p>
</div>


</ion-content>
</ion-view>
