<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" title="Menu" class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-funnel" menu-toggle="right" ng-click="setFilters()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu title="Menu" side="left">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar> -->
    <ion-content>

      <div class="menuWrapper">

        <div class="menuHeader">
          <a href="#/myprofile">

          <div class="perfil">
            <div class="imatge" ng-style="{ 'background-image' : 'url(img/profile.jpg)'}">

            </div>
            <div class="texto">
              <h4>{{user.name}}</h4>
              <h5>{{user.numproducts}} productos</h5>
            </div>
          </div>
          <!-- <a href="#/myprofile"> -->

          </a>
        </div>

        <div class="linkWrapper">
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/listado.svg)' }">
            </div>
            <div class="text" >
              <a menu-close href="#/app/products">Listado productos</a>
            </div>
          </div>
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/subir.svg)' }">
            </div>
            <div class="text">
              <a menu-close href="#/app/createproduct">Subir producto</a>
            </div>
          </div>
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/mensajes.svg)' }">
            </div>
            <div class="text">
              <a menu-close href="#/app/messages">Mensajes</a>
            </div>
          </div>
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/mensajes.svg)' }">
            </div>
            <div class="text">
              <a menu-close href="#/app/premium">Zona Premium</a>
            </div>
          </div>
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/invita.svg)' }">
            </div>
            <div class="text">
              <a menu-close href="#/app/share">Invita a tus amigos</a>
            </div>
          </div>
          <div class="link">
            <div class="icone" ng-style="{'background-image':'url(./img/myIcons/logout.svg)' }">
            </div>
            <div class="text">
              <a menu-close ng-click="logOut()">Desconectarse</a>
            </div>
          </div>
        </div>

      </div>


    </ion-content>

  </ion-side-menu>
</ion-side-menus>
