<ion-view view-title="Conversaciones" align-title="center">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-model="shouldShowDelete" ng-click="edit()">
        <div class="" ng-if="!shouldShowDelete">Editar</div>
        <div class="" ng-if="shouldShowDelete">Hecho</div>
      </button>
      <!-- <button ng-if="shouldShowDelete" class="button button-icon button-clear" ng-model="shouldShowDelete" ng-click="edit()">Hecho</button> -->
  </ion-nav-buttons>

  <ion-content overflow-scroll="false">
    <!-- <div class="list" ng-repeat="user in usersintheinbox track by $index">
        <a class="item item-avatar" ng-click="goToChat(user)">
          <img src="img/profile.jpg">
          <h2>{{user.name}}</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
    </div> -->

    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="user in usersintheinbox track by $index" ng-click="goToChat(user)">
        <ion-delete-button class="ion-minus-circled" ng-click="deleteUserMessages(user)"></ion-delete-button>
        <a class="item item-avatar">
          <img src="img/profile.jpg">
          <h2>{{user.name}}</h2>        
          <p>{{generalsms[$index][generalsms[$index].length-1].message}}</p>
          <h3>{{generalsms[$index][generalsms[$index].length-1].datehourmin}}</h3>
          <div ng-if="imtheuser"><h4>{{userscount[$index].statuscountuser}}</h4></div>
          <div ng-if="!imtheuser"><h4>{{userscount[$index].statuscountenemy}}</h4></div>
        </a>
        <!-- <ion-option-button class="button-assertive" ng-click="borrarUser(user)">
          Borrar
        </ion-option-button> -->
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
