<ion-view view-title="Zona premium" align-title="center">
  <ion-content>
    <div ng-if="!isSubscribed">
      Credit or Debit card
      <form stripe-form="stripeCallback" name="checkoutForm">
        <label class="item item-input">
          <span class="input-label">Name on credit card</span>
          <input type="text" ng-model="nameCreditCard" ng-pattern="/^[a-z ,.A-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF.']*$/" name="nameCreditCard" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Credit card number</span>
          <input type="text" ng-model="number" name="number" payments-format="card" payments-validate="card" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Expiration date</span>
          <input type="text" ng-model="expiry" placeholder="mm/yyyy" name="expiry" payments-format="expiry" payments-validate="expiry" required>
        </label>
        <label class="item item-input">
          <span class="input-label">CVV?</span>
          <input type="text" ng-model="cvc" payments-validate="cvc" payments-format="cvc" required>
        </label>
        <button type="submit" ng-if="!finishedBuying" class="assertive">Complete purchase</button>
        <button type="button" class="btn btn-marca btn-primary" ng-if="finishedBuying" ng-disabled='true'><i class="fa fa-shopping-cart"></i> Shopping... <i class="fa fa-spinner fa-pulse"></i></button>
      </form>
    </div>
    <div ng-if="isSubscribed">
      <h4>Ya estas subscrito!</h4>
      <button ng-click="cancelSubs()">Dar de BAJA</button>
    </div>
  </ion-content>
</ion-view>
