<ion-view class="modal" view-title="Detalle del artículo" align-title="center">

  <ion-nav-bar class="bar-stable" align-title="center">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true" overflow-scroll="false">

    <ion-slide-box class="productSlider">
      <ion-slide class="imatgeSlider" ng-repeat="image in product.image track by $index" ng-style="{ 'background-image': 'url({{image}})' }" ng-click="showImages()">
            <!-- <img ng-src="{{image}}" alt="" /> -->
            <!-- <p>{{image}}</p> -->
      </ion-slide>
    </ion-slide-box>
    <!-- <p>{{product.video[0]}}</p> -->
    <video ng-src="{{trustSrc(product.video[0])}}" class="centerme" controls="controls" width="200" height="200"></video>


    <!-- <video ng-src="{{trustSrc(product.video[0])}}" class="centerme" controls="controls"></video> -->
    <div class="detailWrapper">
      <div class="tituloArea">
        <div class="titulo">
          <h4>{{product.title}}</h4>
        </div>
        <div class="precio">
          <h3>{{product.price}}€</h3>
        </div>
      </div>
      <div class="descriptionArea">
        <h5>Descripción</h5>
        <p>
          {{product.description}}
        </p>
      </div>

      <div class="iconCat">
        <div class="titulo">
                  <h5>Categorías</h5>
        </div>

        <!--  Sexo image -->
        <div class="bloque0" ng-if="product.genero=='Niño'">
          <div class="imatgeIcon">
            <img src="img/myIcons/ninoBo.svg">
          </div>
          <span class="tituloCat">Niño</span>
        </div>
        <div class="bloque0" ng-if="product.genero=='Niña'">
          <div class="imatgeIcon">
            <img src="img/myIcons/ninaBo.svg">
          </div>
          <span class="tituloCat">Niña</span>
        </div>
        <div class="bloque0" ng-if="product.genero=='Bebe'">
          <div class="imatgeIcon">
            <img src="img/myIcons/bebe.svg">
          </div>
          <span class="tituloCat">Bebe</span>
        </div>

        <!--  edad/mes 'FAKE' image -->
        <div class="bloque">
          <div class="imatgeIcon">
            <img src="img/myIcons/ropaBo.svg">
          </div>
          <div ng-if="product.mes>0"><span class="tituloCat">{{product.mes}} meses</span></div>
          <div ng-if="product.edad>0"><span class="tituloCat">{{product.edad}} años</span></div>
        </div>

        <!--  Articulo image -->
        <div class="bloque" ng-if="product.articulo=='Ropa'">
          <div class="imatgeIcon">
            <img src="img/myIcons/ropaBo.svg">
          </div>
          <span class="tituloCat">Ropa</span></div>
        <div class="bloque" ng-if="product.articulo=='Calzado'">
          <div class="imatgeIcon">
            <img src="img/myIcons/calzadoBo.svg">
          </div>
          <span class="tituloCat">Calzado</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Accesorios</span>
        </div>

        <!--  ropa 'FAKE' image -->
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Abrigo'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Abrigo</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Camisa'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Camisa</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Camiseta'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Camiseta</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Falda'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Falda</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Jersey'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Jersey</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Mono'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Mono</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Pantalones'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Pantalones</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Ropa' && product.ropa=='Polo'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Polo</span>
        </div>

        <div class="bloque" ng-if="product.articulo=='Calzado' && product.calzado=='Bambas'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Bambas</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Calzado' && product.calzado=='Zapatos'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Zapatos</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Calzado' && product.calzado=='Botas'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Bambas</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Calzado' && product.calzado=='Chanclas'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Chanclas</span>
        </div>

        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Bufanda'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Bufanda</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Gorro'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Gorro</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Calcetines'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Calcetines</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Guantes'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Guantes</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Cinturon'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Cinturon</span>
        </div>
        <div class="bloque" ng-if="product.articulo=='Accesorios' && product.accesorios=='Tirantes'">
          <div class="imatgeIcon">
            <img src="img/myIcons/accesoriosBo.svg">
          </div>
          <span class="tituloCat">Tirantes</span>
        </div>

      </div>



      <div class="profileArea" ng-if="!isProductOwner()" ng-click="goToProfile()">
          <div class="titulo">
                    <h5>Vendedor</h5>
          </div>
          <div class="imatge">
            <img src="img/profile.jpg"/>
          </div>
          <div class="basico">
            <div class="parteSuperior">
              <div class="nom">
                <h4>{{owner.name}}</h4>
                <div class="rating">
                  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i>
                </div>
              </div>

            </div>
        </div>
      </div>
      <div class="profileArea" ng-if="isProductOwner()">
        <h4>Este producto es tuyo</h4>
      </div>

      <leaflet lf-center="berlin" layers="layers" paths="paths" defaults="defaults" event-broadcast="events" height="20vh" width="100%"></leaflet>

    </div>
  </ion-content>
  <div class="botonArea" ng-if="!isProductOwner()">
        <button class="botonBuyNow" ng-click="createChat()">Lo quiero</button>
        <!-- <button class="botonBuyNow" ng-disabled="isProductOwner()" ng-class="{'buttonDesactivated':isProductOwner()}" ng-click="createChat()">Lo quiero</button> -->
  </div>
  <div class="botonAreaRed" ng-if="isProductOwner()">
    <button class="botonBuyNow" ng-click="deleteProduct(product)">Borrar producto de tienda</button>
  </div>
</ion-view>
