<ion-view view-title="Perfil" align-title="center">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToMenu()"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-gear" ng-click="showEditProfileModal()"></button>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content overflow-scroll="false">

    <div class="infousercontainer">
      <div class="image">
        <img src="img/nobody.png"/ height="64px">
      </div>
      <div class="info">
        <h4>{{owner.name}}</h4>
        <h5>Barcelona</h5>
        <div class="botonsSocials">
          <button class="seguirBoton">Seguir</button>
          <button class="mensajeBoton"><i class="ion-android-mail"></i> Mensaje</button>
        </div>
      </div>

    </div>


      <div class="socialinfo">
        <div class="socialinfodetail">
          <h4>{{owner.numproducts}}</h4>
          <h5>Productos</h5>
        </div>
        <div class="socialinfodetail">
          <h4>{{owner.numfollowing}}</h4>
          <h5>Seguidores</h5>
        </div>
        <div class="socialinfodetail">
          <h4>{{owner.numfollowers}}</h4>
          <h5>Siguiendo</h5>
        </div>
      </div>

      <div class="producteProfileWrapper">
              <div ng-repeat="product in showuserproducts track by $index"  class="producteProfileBlock">
                <div class="imatge" ng-click="goToProductDetail(product)" ng-style="{ 'background-image': 'url({{product.image[0]}})' }">
                </div>
                <div class="informacio">
                  <div class="texto">
                    <h4>{{product.title}}</h4>
                  </div>
                  <div class="price">
                    <h3>{{product.price}} €</h3>
                  </div>
                </div>
              </div>
    </div>

  </ion-content>
</ion-view>
