<ion-view>

<div class="registerHeader">
  <div class="title">
    <h2>Kidsify</h2>
  </div>
  <div class="slogan">
    <h4>Compra y vende artículos para tus niños de manera inteligente</h4>
  </div>

</div>

<div class="loginInputs">
  <div class="loginInput">
    <span class="ion-android-person"></span>
    <input class="username" type="text" placeholder="Nombre" ng-model="data.name">
  </div>
  <div class="loginInput">
    <span class="ion-android-mail"></span>
    <input class="username" type="email" placeholder="email" ng-model="data.email">
  </div>
  <div class="loginInput">
    <span class="ion-locked"></span>
    <input class="username" type="password" placeholder="Contraseña" ng-model="data.password">
  </div>
</div>

<div class="loginBotones">
  <button class="loginBoton" ng-click="registerEmail()">Registrar</button>
  <p class="registrate">
    Ya tienes cuenta ? <a ui-sref="login">Acceder</a>
  </p>
</div>



</ion-view>
