<div>
  <ion-slide-box class="welcomeSlider">
    <ion-slide class="slide1">
          <h3>BIENVENIDO A</h3>
          <h1>Kidsify</h1>
    </ion-slide>
    <ion-slide class="slide1">
      <h3>Slide 2</h3>
    </ion-slide>

    <ion-slide class="slide1">
      <h3>Slide 3</h3>
    </ion-slide>
</ion-slide-box>
</div>
<div class="AreaDeveloper">
<button ng-disabled="clicked" class="botonDeveloper" id="btnasleep" ng-click="activateAnimation()">ENTRAR</button>
</div>
