<div class="modal image-modal transparent" on-swipe-down="closeModal()" ng-click="closeModal()">
<!-- <div class="modal image-modal transparent" on-swipe-down="closeModal()"> -->
  <ion-slide-box active-slide="activeSlide">
    <ion-slide ng-repeat="image in product.image track by $index">

      <ion-scroll overflow-scroll="false" direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle{{$index}}" on-double-tap="autoZoom()" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">

      <div class="imagezoom" style="background-image: url( {{image}} )"></div>

    </ion-scroll>
  </ion-slide>
</ion-slide-box>
</div>
