/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$stable:                          rgba(161, 175, 255, 1)  !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "partials/basics";
@import "partials/new";
@import "partials/zoomview";
@import "partials/welcome";
@import "partials/productDetail";
@import "partials/animations";
@import "partials/menu";
@import "partials/createProduct";
@import "partials/profile";
@import "partials/login";
@import "partials/chatroom";
@import "partials/messages";

@import "www/templates/filter/filter";
@import "www/templates/products/products";
