.filterWrapper{

    background: #f2eff6;

.fila{
  height: 140px;
  width: 100%;
  // background: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // border-top: 1px solid #f3f2f5;
  // border-bottom: 1px solid #f3f2f5;
  .titulin{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideCat{

    display: flex;
    width: 100%;
    height: 100px;
    background: white;


    .left{
      flex: 0 0 10%;
    }
    .center{
          // background: #f9f9f9;
          // border: 1px solid #f3f2f5;
      height: 100px;
      flex: 0 0 80%;
    }
    .right{
      flex: 0 0 10%;
    }

    // background: #f9f9f9;
    // border: 1px solid #f3f2f5;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // height: 80px;
    // width: 100%;

    .numbers{
      display: flex;
      justify-content: space-between;
      padding: 0 20px 10px;
      width: 100%;
      h5{
        color: #6a6363;
        font-family: $tipo1;
      }

      justify-content: space-between;
    }
    .sliderPreu{
      display: flex;
      justify-content: center;
      // padding: 0 40px;
      width: 100%;
    }

  }

.slideCatslider{
height: 200px;
.sliderPreu{
  padding-top: 40px;
  display: flex;
justify-content: center;
  // padding: 0 40px;
  width: 100%;
}
}

    .slideMini{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      .opcio{
        display: flex;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: green;
        .iconoFiltre{
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          // background: red;
          border-radius: 50px;
          img{
            width: 24px;
            height: 24px;
          }

          &.activat{

            border-radius: 50px;
            // background: rgba(242, 239, 246, 1);
            background: rgba(51, 58, 77, .9);
          }
        }

        img{
          width: 30px;
        }
        p{
          font-family: $tipo1;
          font-size: 10px;
          margin: 0;
          padding: 0;
          color: #999999;
        }
        // opacity: .2;
      }
    }
}

.espaiextre{
    height: 80px;
}


.botoFiltraProducteWrapper{
      // position: absolute;
      // z-index: 1000;
      // background: red;
      // left:0;
      // right:0;
      // bottom: 0;
      // width: 100%;
      display: flex;
      height: 80px;
      justify-content: center;
      align-items: center;

  .botoFiltraProducte{
    background: $turquesa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50px;
    height: 50px;
    width: 60%;
    color: white;
    font-family: $tipo1;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    font-size: 14px;
    letter-spacing: 0px;
    cursor: pointer;
  }
}


.zonaBoton{
  position: absolute;
  left:0;
  bottom:0;
  right: 0;
  z-index: 1000;

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .botonSearch{
    background: $turquesa;
    border: 3px solid white;
    border-radius: 50px;
    height: 50px;
    width: 80%;
    color: white;
    font-family: $tipo1;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.swiper-pagination{
  display: none;
}
}
