<ion-view class="modal" view-title="Buscador" align-title="center">
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFilters()"> Cerrar</button>
    </div>
    <h4 class="title">Filtrar Producto</h4>
    <div class="buttons">
      <button class="button button-clear" ng-click="resetFilters()">Borrar</button>
    </div>
  </ion-header-bar>

  <div class="zonaBoton">
    <button class="botonSearch" ng-click="closeFilters()">Buscar ahora</button>
  </div>

  <ion-content overflow-scroll="false">
    <div class="filterWrapper">

    <div class="fila">
      <div class="titulin">
        SEXO
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <ion-slides slider="swiper" options="swiperOptions">
            <ion-slide-page class="slideMini" ng-repeat="sexo in sexos">
              <div class="opcio" ng-click="activaCarac($index)">

                <div class="iconoFiltre" ng-class="{'activat':isItemSelected($index),'desactivat':!isItemSelected($index)}">
                  <img src="img/myIcons/{{sexo.icon}}">
                </div>
                <div class="texteFiltre">
                  <p>
                    {{sexo.nom}}
                  </p>
                </div>

              </div>
            </ion-slide-page>
          </ion-slides>
        </div>
        <div class="right"></div>
      </div>
    </div>

    <div class="fila" ng-if="!isItemSelected(0) && !isItemSelected(1) && isItemSelected(2)">
      <div class="titulin">
        EDAD
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <div class="numbers">
            <h5>{{slideminedadbebe}} meses</h5>
            <h5>{{slidemaxedadbebe}} meses</h5>
          </div>
          <div class="sliderPreu">
            <div ya-no-ui-slider='optionsEdadBebe' ya-no-ui-slider-events='eventHandlersEdadBebe' class="slider-range"></div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>

    <div class="fila" ng-if="(isItemSelected(0) || isItemSelected(1)) && !isItemSelected(2)">
      <div class="titulin">
        EDAD
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <div class="numbers">
            <h5>{{slideminedadanos}} años</h5>
            <h5>{{slidemaxedadanos}} años</h5>
          </div>
          <div class="sliderPreu">
            <div ya-no-ui-slider='optionsEdadAnos' ya-no-ui-slider-events='eventHandlersEdadAnos' class="slider-range"></div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>

    <div class="fila" ng-if="(isItemSelected(0) || isItemSelected(1)) && isItemSelected(2) || (!isItemSelected(0) && !isItemSelected(1) && !isItemSelected(2))">
      <div class="titulin">
        EDAD
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <div class="numbers">
            <div ng-if="slideminedadmix>8">
              <h5 ng-if="slideminedadmix==9">2 años</h5>
              <h5 ng-if="slideminedadmix==10">3 años</h5>
              <h5 ng-if="slideminedadmix==11">4 años</h5>
              <h5 ng-if="slideminedadmix==12">5 años</h5>
              <h5 ng-if="slideminedadmix==13">6 años</h5>
              <h5 ng-if="slideminedadmix==14">7 años</h5>
              <h5 ng-if="slideminedadmix==15">8 años</h5>
              <h5 ng-if="slideminedadmix==16">9 años</h5>
              <h5 ng-if="slideminedadmix==17">10 años</h5>
              <h5 ng-if="slideminedadmix==18">11 años</h5>
              <h5 ng-if="slideminedadmix==19">12 años</h5>
              <h5 ng-if="slideminedadmix==20">13 años</h5>
              <h5 ng-if="slideminedadmix==21">14 años</h5>
            </div>
            <div ng-if="slideminedadmix<=8">
              <h5 ng-if="slideminedadmix==0">0 meses</h5>
              <h5 ng-if="slideminedadmix==1">2 meses</h5>
              <h5 ng-if="slideminedadmix==2">4 meses</h5>
              <h5 ng-if="slideminedadmix==3">6 meses</h5>
              <h5 ng-if="slideminedadmix==4">8 meses</h5>
              <h5 ng-if="slideminedadmix==5">10 meses</h5>
              <h5 ng-if="slideminedadmix==6">12 meses</h5>
              <h5 ng-if="slideminedadmix==7">14 meses</h5>
              <h5 ng-if="slideminedadmix==8">16 meses</h5>
            </div>
            <div ng-if="slidemaxedadmix>8">
              <h5 ng-if="slidemaxedadmix==9">2 años</h5>
              <h5 ng-if="slidemaxedadmix==10">3 años</h5>
              <h5 ng-if="slidemaxedadmix==11">4 años</h5>
              <h5 ng-if="slidemaxedadmix==12">5 años</h5>
              <h5 ng-if="slidemaxedadmix==13">6 años</h5>
              <h5 ng-if="slidemaxedadmix==14">7 años</h5>
              <h5 ng-if="slidemaxedadmix==15">8 años</h5>
              <h5 ng-if="slidemaxedadmix==16">9 años</h5>
              <h5 ng-if="slidemaxedadmix==17">10 años</h5>
              <h5 ng-if="slidemaxedadmix==18">11 años</h5>
              <h5 ng-if="slidemaxedadmix==19">12 años</h5>
              <h5 ng-if="slidemaxedadmix==20">13 años</h5>
              <h5 ng-if="slidemaxedadmix==21">14 años</h5>
            </div>
            <div ng-if="slidemaxedadmix<=8">
              <h5 ng-if="slidemaxedadmix==0">0 meses</h5>
              <h5 ng-if="slidemaxedadmix==1">2 meses</h5>
              <h5 ng-if="slidemaxedadmix==2">4 meses</h5>
              <h5 ng-if="slidemaxedadmix==3">6 meses</h5>
              <h5 ng-if="slidemaxedadmix==4">8 meses</h5>
              <h5 ng-if="slidemaxedadmix==5">10 meses</h5>
              <h5 ng-if="slidemaxedadmix==6">12 meses</h5>
              <h5 ng-if="slidemaxedadmix==7">14 meses</h5>
              <h5 ng-if="slidemaxedadmix==8">16 meses</h5>
            </div>
          </div>
          <div class="sliderPreu">
            <div ya-no-ui-slider='optionsEdadMix' ya-no-ui-slider-events='eventHandlersEdadMix' class="slider-range"></div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>

    <div class="fila">
        <div class="titulin">
          ARTÍCULO
        </div>
        <div class="slideCat">
          <div class="left"></div>
          <div class="center">
            <ion-slides slider="swiper" options="swiperOptions">
              <ion-slide-page class="slideMini" ng-repeat="ropa in ropas">
                <div class="opcio" ng-click="activaCarac($index+300)">

                  <div class="iconoFiltre" ng-class="{'activat':isItemSelected($index+300),'desactivat':!isItemSelected($index+300)}">
                    <img src="img/myIcons/{{ropa.icon}}">
                  </div>
                  <div class="texteFiltre">
                    <p>
                      {{ropa.nom}}
                    </p>
                  </div>

                </div>
              </ion-slide-page>
            </ion-slides>
          </div>
          <div class="right"></div>
      </div>
    </div>
    <div class="fila" ng-if="isItemSelected(300)">
      <div class="titulin">
        ROPA
      </div>
      <div class="slideCat">
      <ion-slides slider="swiper" options="swiperOptions">
        <ion-slide-page class="slideMini" ng-repeat="ropa in ropitas">
          <div class="opcio" ng-click="activaCarac($index+400)">

            <div class="iconoFiltre" ng-class="{'activat':isItemSelected($index+400),'desactivat':!isItemSelected($index+400)}">
              <img src="img/myIcons/{{ropa.icon}}">
            </div>
            <div class="texteFiltre">
              <p>
                {{ropa.nom}}
              </p>
            </div>

          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
  </div>
  <div class="fila" ng-if="isItemSelected(301)">
    <div class="titulin">
      CALZADO
    </div>
    <div class="slideCat">
    <ion-slides slider="swiper" options="swiperOptions">
      <ion-slide-page class="slideMini" ng-repeat="calzado in calzados">
        <div class="opcio" ng-click="activaCaracProduct($index+500)">

          <div class="iconoFiltre" ng-class="{'activat':isItemSelectedProduct($index+500),'desactivat':!isItemSelectedProduct($index+500)}">
            <img src="img/myIcons/{{calzado.icon}}">
          </div>
          <div class="texteFiltre">
            <p>
              {{calzado.nom}}
            </p>
          </div>

        </div>
      </ion-slide-page>
    </ion-slides>
  </div>
  </div>
  <div class="fila" ng-if="isItemSelected(302)">
    <div class="titulin">
      COMPLEMENTO
    </div>
    <div class="slideCat">
    <ion-slides slider="swiper" options="swiperOptions">
      <ion-slide-page class="slideMini" ng-repeat="complemeto in complementos">
        <div class="opcio" ng-click="activaCaracProduct($index+600)">

          <div class="iconoFiltre" ng-class="{'activat':isItemSelectedProduct($index+600),'desactivat':!isItemSelectedProduct($index+600)}">
            <img src="img/myIcons/{{complemeto.icon}}">
          </div>
          <div class="texteFiltre">
            <p>
              {{complemeto.nom}}
            </p>
          </div>

        </div>
      </ion-slide-page>
    </ion-slides>
  </div>
  </div>

    <div class="fila">
      <div class="titulin">
        TEMPORADA
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <ion-slides slider="swiper" options="swiperOptions">
            <ion-slide-page class="slideMini" ng-repeat="temporada in temporadas">
              <div class="opcio"  ng-click="activaCarac($index+700)">

                <div class="iconoFiltre" ng-class="{'activat':isItemSelected($index+700),'desactivat':!isItemSelected($index+700)}">
                  <img src="img/myIcons/{{temporada.icon}}">
                </div>
                <div class="texteFiltre">
                  <p>
                    {{temporada.nom}}
                  </p>
                </div>

              </div>
            </ion-slide-page>
            </ion-slides>
          </div>
        <div class="right">

        </div>
      </div>
    </div>

    <div class="fila">
      <div class="titulin">
        ESTADO
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <ion-slides slider="swiper" options="swiperOptions">
            <ion-slide-page class="slideMini" ng-repeat="estado in estados">
              <div class="opcio" ng-click="activaCarac($index+800)">

                <div class="iconoFiltre" ng-class="{'activat':isItemSelected($index+800),'desactivat':!isItemSelected($index+800)}">
                  <img src="img/myIcons/{{estado.icon}}">
                </div>
                <div class="texteFiltre">
                  <p>
                    {{estado.nom}}
                  </p>
                </div>

              </div>
            </ion-slide-page>
            </ion-slides>
          </div>
          <div class="right">

          </div>
      </div>
    </div>

    <div class="fila">
      <div class="titulin">
        PRECIO
      </div>
      <div class="slideCat">
        <div class="left"></div>
        <div class="center">
          <div class="numbers">
            <h5>{{slidemin}} €</h5>
            <h5 ng-if="slidemax==1000">+1000 €</h5>
            <h5 ng-if="slidemax!=1000">{{slidemax}} €</h5>
          </div>
          <div class="sliderPreu">
            <div ya-no-ui-slider='options' ya-no-ui-slider-events='eventHandlers' class="slider-range"></div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>

    <div class="botoFiltraProducteWrapper">
      <div class="botoFiltraProducte" ng-click="closeFilters()">

          Buscar ahora

      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
