$color-font: #6a6363;
$rosa: #e45359;
$turquesa: #a1afff;
$tipo1: 'quicksand-bold';
$tipo2: 'quicksand-regular';
$tipo3: 'quicksand-book';
$fuente-precio: 'avenir-bold';


$color-app-medio: #8495F6;
$color-app-oscuro: #333A4D;

$color-texto-medio: rgba(51,58,77,.42);
$color-texto-claro: rgba(51,58,77,.2);


@font-face {
  font-family: "quicksand-bold";
  src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: "quicksand-regular";
  src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "quicksand-book";
  src: url(../fonts/Quicksand_Book.otf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(../fonts/AvenirLTStd-Black.otf);
}


body{
  font-family: $tipo1;
  font-weight: 900;
  background: #f7f7f7;
  color: $color-font;
}



.bar-stable{
  .button.button-clear{
      font-family: $tipo1;
  }
}
.bar{
  &.bar-stable{
    background-image: linear-gradient(0deg, #a1afff, #a1afff 50%, transparent 50%);
    .title{
      color: white;
      font-family: $tipo1;
    }
  }
}

.bar-stable .button.button-clear {
    color: white;
}

.slider-range {
  left: 2%;
  width: 16%;
}
