.postBoton{
  position: absolute;
  left:0;
  bottom:0;
  right: 0;
  z-index: 1000;

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .botonSearch{
    background: $turquesa;
    border: 3px solid white;
    border-radius: 50px;
    height: 50px;
    width: 80%;
    color: white;
    font-family: $tipo1;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.fila2{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .titulin{
    width: 100%;
    background: white;
    height: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
  .slideCat{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;

    .numbers{
      display: flex;
      justify-content: space-between;
      padding: 0 40px 10px;
      width: 100%;
      h5{
        color: #6a6363;
        font-family: $tipo1;
      }

      justify-content: space-between;
    }
    .sliderPreu{
      display: flex;
      justify-content: center;
      // padding: 0 40px;
      width: 100%;
    }

  }

.slideCatslider{
height: 200px;
.sliderPreu{
  padding-top: 40px;
  display: flex;
justify-content: center;
  // padding: 0 40px;
  width: 100%;
}
}

  .slideMini{
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    padding: 10px;
    .opcio{
      display: flex;
      border-radius: 10px;
      width: 100%;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        width: 30px;
      }
      p{
        padding-top:5px;
      }
      // opacity: .2;
    }
  }
}

.fotoList{
  padding: 10px;
  display: flex;
  background: #fafafa;
  .fotosFetes{

    // height: 120px;
    // width: 120px;

    .botonFoto{
      margin: 5px 5px 10px 0;
      border-radius: 5px;
      border: 2px dotted #ddd;
      background: #f7f7f7;
      i{
        font-size: 50px;
        color: #aaa;
        padding:0;
        margin: 0;
      }
      h5{
        color: #aaa;
        font-family: $tipo1;
        padding:0;
        margin: 0;
        }
    }
  }
  .fotosAltres{
    .botonFoto{
      margin: 5px 5px 10px 0;
      border-radius: 5px;
      border: 2px dotted #ddd;
      background: #f1f1f1;
      height: 75px;
      width: 75px;
      i{
        font-size: 30px;
        color: #aaa;
        padding:0;
        margin: 0;
      }
      h5{
        color: #aaa;
        font-family: $tipo1;
        padding:0;
        margin: 0;
        font-size: 10px;
        }
    }
    // height: 120px;
    // width: 120px;
  }
}

.input[type="text"]{
  font-family: $tipo1;
}

.tagvisible {
  opacity: 1;
}
