.loginHeader{
  background: linear-gradient(
      rgba(230, 115, 123, .9),
      rgba(255, 90, 96, .9)
    ),url(../img/portada.jpg) no-repeat center center;
  padding: 40px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: $tipo1;
    color: white;
    font-size: 40px;
  }
  h4{
    font-family: $tipo1;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.registerHeader{
  background: linear-gradient(
      rgba(230, 115, 123, .9),
      rgba(255, 90, 96, .9)
    ),url(../img/portada.jpg) no-repeat center center;
  padding: 40px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: $tipo1;
    color: white;
    font-size: 40px;
  }
  h4{
    font-family: $tipo1;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.loginInputs{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loginInput{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .ion-android-person,.ion-locked,.ion-android-mail{
      position: absolute;
      top:23px;
      left: 60px;
      color: #bbb;
      font-size: 18px;
    }
  }
  .username{
    background: #e6eaeb;
    width: 80%;
    border-radius: 50px;
    margin: 10px 0;
    padding: 25px;
    color: #929394;
    font-family: $tipo1;
    font-size: 16px;
    text-indent: 30px;
  }
}

input::-webkit-input-placeholder {
color: #ccc ;
text-indent: 30px;
}


.loginBotones{
  padding-top: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  .loginBoton{
      background: $turquesa;
      color: white;
      border: none;
      border-radius: 50px;
      width: 80%;
      padding: 15px;
      font-family: $tipo1;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  .registrate{
    padding-top: 20px;
    color: #929394;
    font-size: 12px;
    a{
      text-decoration: none;
      color: $turquesa;
    }
  }
}

// JORDI SCSS FROM UGO LOGIN
.btnsociallogin {
  align-self: center;
  justify-content: center;

  //border: 1px solid red;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 90%;
  height: 7vh;
  border: 2px solid #22313f;
  border-radius: 5px;
  margin-top: 3%;
}
.btnfacebook {
  //border: 1px solid yellow;
  background-color: #3b5998;

}
