.menu-content {

  // box-shadow: 0 -2px 35px rgba(0, 0, 0, 1);
}

.menuWrapper{

  background: lighten(#a1afff,15%);
  height: 100vh;

  .menuHeader{
    a{
      text-decoration: none;
    }
   padding-top: 50px;
      background: lighten(#a1afff,15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    .perfil{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imatge{
        background: red;
        border-radius: 50px;
        height: 64px;
        width: 64px;
        background-size: cover;
        margin-bottom: 20px;
      }
      .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
          color: #666;
          font-family: $tipo1;
          margin: 0;
        }
        h5{
          color: #999;
          font-family: $tipo1;
        }
      }
    }
  }

  .linkWrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .link{
      padding: 20px 20px;
      display: flex;
      align-items: center;
      .icone{
        height: 20px;
        width: 20px;
        background-size: cover;
      }
      .text{
        padding-left: 15px;
        cursor: pointer;
        a{
          text-decoration: none;
          color: #666;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }

  }
}
