

.titulocentral{
  padding: 10px;
  h4{
    font-family: $tipo1;
    color: $color-font;
  }
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: $rosa;
    border-color: $rosa;
}

.titulo {
  display: flex;
  flex: 0 0 100px;
}

.opciones {
  display: flex;
  flex: 0 0 1000px;
}

.item {
  border-width: 0;
  color: $color-font;
}



.activat {
  opacity: 1;
}

.desactivat {
  opacity: .2;
}

.wrapperboton{
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miboton{

  cursor: pointer;
  width: 80%;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  background: $turquesa;
  letter-spacing: 2px;
  color: white;
  line-height: 60px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  // p { font-family: $tipo1;}
  opacity: 0.4;
}

.miboton:hover{
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}



.red{
  background: red;
}

.blue{
  background: blue;
}

.green{
  background: green;
}


.titlefilter {
  h4 {
    color: #567681;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2px;
  }
}
