.infousercontainer {
  display: flex;
  background: $turquesa;
  align-items: center;
  padding: 30px 0 30px 10px;
  // border: 1px solid blue;
  .image{
    flex: 0 0 20%;
    // border: 1px solid green;
  }
  .info{
    flex: 0 0 80%;
    padding-left: 30px;
    h4,h5{
      color: white;
      font-family: $tipo1;
    }
  }
  .botonsSocials{
    padding-top: 10px;


    .seguirBoton{
      border: 1px solid white;
      background-color: transparent;
      color: white;
      border-radius: 50px;
      font-family: $tipo1;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 25px;
    }
    .mensajeBoton{
      margin-left: 10px;
      border: 1px solid white;
      background-color: white;
      color: $turquesa;
      border-radius: 50px;
      font-family: $tipo1;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 20px;
    }
  }
}

.socialinfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #f1f1f1;
  border-bottom: 1px solid #eee;
  .socialinfodetail {
    //border: 1px solid red !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    h4,h5{
      font-family: $tipo1;
    }
    h4{
      color: $turquesa;
      margin:0 0 5px 0;
      padding: 0;
    }
    h5{
      color: #999;
      margin:0 ;
      padding: 0;
    }
  }
}

.producteProfileWrapper{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  .producteProfileBlock{
    flex: 0 0 44%;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    .imatge{
      height: 160px;
      background: no-repeat center center;
      background-size: cover;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .informacio{
      h3,h4,h5{font-family: $tipo1;margin:0;padding:0}
      padding: 10px 10px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      .texto{
        flex: 0 0 70%;
        h4{
          font-size: 10px;
          color: #666;}
        }
        .price{
          flex: 0 0 30%;
          display: flex;
          justify-content: flex-end;
          h3{
          color: $rosa;
          font-size: 18px;}
        }
    }
  }
}
