

.productSlider{
  height: 300px;
  .imatgeSlider{
    background-size: cover;
  }
}

.detailWrapper{
  .tituloArea{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    .titulo{
      flex: 0 0 60%;
      display: flex;
      align-items: flex-end;
      h4{
        color: #666;
        font-size: 18px;
        margin: 0;
      }
    }
    .precio{
      flex: 0 0 40%;
      display: flex;
      justify-content: flex-end;
      h3{
        color: $rosa;
        font-size: 26px;
        margin: 0;
      }

    }
    h3,h4,h5{
      font-family: $tipo1;
    }
  }
  .descriptionArea{
    background: #FAFAFA;
    padding: 5px 20px;
    border-bottom: 1px solid #E0E0E0;
    h5{
      color: #666666;
      font-family: $tipo1;
    }
    p{
      color: #999999;
      font-family: $tipo3;
      letter-spacing: -1px;
    }
  }
  .iconCat{
    display: flex;
      padding: 20px 20px 10px 20px;
      background: #F0F0F0;
          border-bottom: 1px solid #E0E0E0;
      h5{
              color: #666666;
              font-family: $tipo1;
      }

    .bloque{
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;
      width: 80px;
      img{
        height: 20px;
        width: 20px;
      }
      .tituloCat{
        font-size: 12px;
      }
    }
    .bloque0{
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;
      width: 50px;
      padding-right: 20px;
      img{
        height: 20px;
        width: 20px;
      }
      .tituloCat{
        font-size: 12px;
      }
    }
  }

.swiper-pagination {
  display: none;
}

  .profileArea{
    background: #fafafa;
    padding: 20px 20px 20px 20px;
    display: flex;
    h5{
            color: #666666;
            font-family: $tipo1;
    }
    .imatge{
      flex: 0 0 20%;
      img{
        height: 48px;
        border-radius: 50px;
      }
    }
    .basico{
      flex: 0 0 60%;
      display: flex;
      flex-direction: column;
      .parteSuperior{
        display: flex;

        .nom{
          flex: 0 0 60%;
          h4{
                  font-family: $tipo1;
                  font-size: 14px;
                  color: #666;
                  margin: 0 0 5px 0;
          }
          h5{
            font-family: $tipo1;
            color: #aaa;
            font-size: 12px;
            margin: 0;
          }
        }
        .rating{
          flex: 0 0 40%;
          color: #999;
        }
      }
      .parteInferior{

      }
    }
  }
}

.botonArea {
  position: absolute;
  left:0;
  bottom: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $turquesa;
  .botonBuyNow{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    font-family: $tipo1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.botonAreaRed {
  position: absolute;
  left:0;
  bottom: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  .botonBuyNow{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    font-family: $tipo1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.socialinfoMini {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .socialinfodetail {
    //border: 1px solid red !important;
    display: flex;
    padding: 15px 0;
    h4,h5{
      font-family: $tipo1;
    }
    h4{
      color: #666;
      margin:0 0 5px 0;
      padding: 0;
    }
    h5{
      color: #999;
      margin:0 ;
      padding: 0;
    }
  }
}

.slider-pager{
 .slider-pager-page{
   color: white;
 }
}

.buttonDesactivated {
  color: #000 !important;
}
