.welcomeSlider{
  height: calc(100vh - 60px);
  .slide1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    h3{
      font-size: 12px;
      letter-spacing: 2px;
      color: #999;
    }
    h1{
      font-size: 60px;
      font-family: $tipo1;
      letter-spacing: 2px;
      color: $turquesa;
    }
  }
}

.AreaDeveloper{
  height: 60px;
  background: $turquesa;
  display: flex;
  justify-content: center;
  align-items: center;
  .botonDeveloper{
    background: transparent;
    border:none;
    width: 100%;
    height: 100%;
    color: white;
    letter-spacing: 1px;
    font-family: $tipo1;
  }
}
