<ion-view view-title="Listado productos" align-title="center">

  <ion-nav-bar align-title="center" title="Menu" has-header="true" class="bar-stable showbuttonbarJustMove" id="barstable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-funnel" menu-toggle="right" ng-click="setFilters()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <!-- <ion-header-bar class="bar-stable" align-title="center" id="barstable">
    <div class="buttons">
      <button class="button button-clear ion-arrow-left-c"></button>
    </div>
    <h4 class="title">Listado productos</h4>
    <div class="buttons">
      <button class="button button-icon button-clear ion-funnel" menu-toggle="right" ng-click="setFilters()">
      </button>
    </div>
  </ion-header-bar> -->

  <div class="ordenarBloque no-header" id="ordenar-bloque">
    <label class="item item-input item-select">
      <div class="input-label" style="color:#999;">
        Ordenar por
      </div>
      <select ng-model="filterorderby" ng-change="selectFilterOrderBy(filterorderby)" style="color:#999;">
        <option selected>El más nuevo</option>
        <option>Por cercanía</option>
        <option>Por precio</option>
      </select>
    </label>
  </div>

  <ion-content class="has-header" overflow-scroll="false" on-release="release()" on-drag-up="onDragUp()" on-drag-down="onDragDown()">

    <!-- <button ng-click="superPoblate()">SUPEEER POBLACIOON</button> -->

    <ion-refresher
      pulling-text="cargando..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="productesWrapper">
      <div class="producteWrapper" ng-repeat="product in products" ng-if="isShowProduct(product)" ng-click="goToProductDetail(product)">
       <a nav-direction="forward">
        <div class="producteBlock">
          <div class="imatge" ng-style="{ 'background-image': 'url({{product.image[0]}})' }">
            <!-- <img ng-src="{{product.image[0]}}"> -->
            <div class="preuWrapper">
              <div class="preuBloc">
                <h4>{{product.price}}<span class="euro">€</span></h4>
              </div>
            </div>
          </div>

          <div class="informacio">
            <div class="texto">
              <!-- <h4>{{product}}</h4> -->
              <h4>{{product.title}}</h4>
              <!-- <h5 class="cats">{{product.description}}, {{product.genero}}, {{product.articulo}}</h5> -->
            </div>
            <div class="categorias">
              <h5>{{product.genero}}, {{product.articulo}}, {{product.ropa}}</h5>
            </div>
          </div>



        </div>
      </a>
      </div>

    <ion-infinite-scroll
      ng-if="moreDataCanBeLoadedFunc()"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>
        </div>
  </ion-content>

  <!-- FLOATING BTN -->
  <div class="botoCrearProducteWrapper">
    <button class="botoCrearProducte showbutton" id="createproductbtn" ng-click="openCreateModal()">Añadir producto</button>
  </div>

</ion-view>
