.productesWrapper{
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  height: 100vh;
  background: #f2eff6;

  .producteWrapper{

    flex: 0 0 50%;

    .producteBlock{
      margin: 10px 5px 10px 5px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 30px rgba(0,0,0,.2);
      .imatge{
        height: 160px;
        background: no-repeat center center;
        background-size: cover;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        position: relative;
        .preuWrapper{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 10000;
          display: flex;
          justify-content: center;
          .preuBloc{
            background: #fbfafc;
            height:30px;
            width:60px;
            border-radius: 60px 60px 0 0;

            h4{
              color: $color-app-oscuro;
              font-family: $fuente-precio;
              text-align: center;
              .euro{
                font-size: 14px;
              }
            }
          }
        }
      }

      .informacio{
        h3,h4,h5{font-family: $tipo1;margin:0;padding:0}
        background: #fbfafc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;
        margin: 0;
        min-height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .texto{
          h4{
            font-size: 16px;
            line-height: 16px;
            color: $color-app-medio;
            text-align: center;
            }
          }
        .categorias{
          padding-top: 5px;
            display: flex;
            justify-content: center;
            h5{
            color: $color-texto-medio;
            font-size: 12px;}
          }
      }
    }
  }
}


.item-select{
  select{
    font-family: $tipo1;
    font-size: 16px;
  }
}

.ordenarBloque{
  position: absolute;
  z-index: 1;
  left:0;
  right: 0;
  top:64px;
  height: 40px;
  box-shadow: 0 1px 15px rgba(0,0,0,.3);
  background: white;
}

.botoCrearProducteWrapper{
      position: absolute;
      z-index: 1000;
      left:0;
      right:0;
      bottom: 0;
      width: 100%;
      display: flex;
      height: 80px;
      justify-content: center;
      align-items: center;

  .botoCrearProducte{
    background: $turquesa;
    border: 3px solid white;
    border-radius: 50px;
    height: 50px;
    width: 60%;
    color: white;
    font-family: $tipo1;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.showbutton {
  //opacity: 1;

  animation: opacityAniShow;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.hidebutton {
  //opacity: 0;

  animation: opacityAniHide;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.showbuttonbar {
  //opacity: 1;

  animation: opacityAniShowBar;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.hidebuttonbar {
  //opacity: 0;

  animation: opacityAniHideBar;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.showbuttonbarJustMove {
  position: absolute !important;
  width: 100% !important;
  z-index: 999999 !important;
  //height: 100px !important;
  //opacity: 1;

  animation: opacityAniShowBarJustMove;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.hidebuttonbarJustMove {
  position: absolute !important;
  width: 100% !important;
  z-index: 999999 !important;
  //height: 300px !important;
  //opacity: 0;

  animation: opacityAniHideBarJustMove;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes opacityAniHide {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translate(0, 10em);
  }
}
@-webkit-keyframes opacityAniShow {
  0% {
    opacity: 0;
    transform: translate(0, 10em);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes opacityAniHideBar {
  0% {
    //opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    //opacity: 0;
    transform: translate(0, -10em);
  }
}
@-webkit-keyframes opacityAniShowBar {
  0% {
    //opacity: 0;
    transform: translate(0, -10em);
  }
  100% {
    //opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes opacityAniHideBarJustMove {
  0% {
    //opacity: 1;
    transform: translate(0, 0);
    //min-height: 30em;
  }
  100% {
    //opacity: 0;
    transform: translate(0, -6em);
    //min-height: 10px !important;
  }
}
@-webkit-keyframes opacityAniShowBarJustMove {
  0% {
    //opacity: 0;
    transform: translate(0, -6em);
    //min-height: 10px !important;
  }
  100% {
    //opacity: 1;
    transform: translate(0, 0);
    //min-height: 30em;
  }
}
.bar.bar-stable {
   //background-color: rgba(255,0,0,.2) !important; /* or transparent, or background:none */
   z-index: 10 !important;
}
.scroll-content {
  overflow: visible !important;
}
